<!doctype html>
<html>
  
  <head>
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <title>Untitled (3)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css"> 
  </head>
  
  <body>
    <div class="row"></div>
    <div class="container-fluid">
      <div class="well">
		<form method='POST' action='.'>
		{% csrf_token %}
          <input type="text" class="input-medium input-block-level" name="tweet">
          <input type="submit" class="btn btn-success btn-large" name="Tweet">
        </form>
        <ol>
			{% for tweet in tweets %}
				<li>
					{{tweet.text}}
					<br>
					{{tweet.time}}
				</li>
			{% endfor %}
        </ol>
      </div>
    </div>
  </body>
</html>